<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Responsive Cities Challenge</title>
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="/static/css/freelancer.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="page-scroll">
                        <a href="#home">Home</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#process">Process</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#about">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#meetups">Meetups</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#judging">Judging</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#awards">Awards</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#enter">Enter</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#rules">Rules</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#tools">Tools</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="/static/img/SCODA Logo_04_bigger.jpg" alt="">
                    <div class="intro-text">
                        <span class="name">Responsive Cities Challenge<sup><i style="font-size: 18px">BETA</i></sup></span>
                        <hr class="star-light">
                        <span class="skills">Partners in City Development Strategies</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Home Section-->
    <section class="container" id="home">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Home</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <p>The <a href="http://www.ogp.gov.za/" target="_blank">Open Government Partnership South Africa (OGP SA)</a>, <a href="http://theodi.org/" target="_blank">Open Data Institute (ODI)</a> and a number of local partners are running an open data challenge on the theme of Responsive Cities. The specific challenge questions for each city are described in the tabs below and you can enter your proposal <a href="#enter" class="page-scroll"> ENTER</a> by 5 October 2016.</p>
                    <p>The aim of the Responsive Cities challenge is to encourage developers, designers, researchers and entrepreneurs to use available open data from various cities across South Africa to develop applications, stories and visualisations that can help residents work better with local government.</p>
                    <p>During September and October 2016, participants will have a chance to work with city representatives, technical mentors, other teams and ODI specialists to build out their value proposition and workable prototypes. Winners will receive cash awards, incubation and/or seed funding up to R300,000 to develop their solutions further.</p>
                    <br>
                    <br>
                </div>
            </div>

            <div class="panel with-nav-pills panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#tab1default" data-toggle="pill">Cities</a></li>
{#                            <li><a href="#tab2default" data-toggle="tab">Default 2</a></li>#}
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Select <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab2default" data-toggle="pill">Ekurhuleni</a></li>
                                    <li><a href="#tab3default" data-toggle="pill">Ethekwini</a></li>
                                    <li><a href="#tab4default" data-toggle="pill">Cape Town</a></li>
                                    <li><a href="#tab5default" data-toggle="pill">Tshwane</a></li>
                                    <li><a href="#tab6default" data-toggle="pill">Sol Plaatje</a></li>
                                    <li><a href="#tab7default" data-toggle="pill">Joburg</a></li>
                                    <li><a href="#tab8default" data-toggle="pill">Polokwane</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content">
                        <div class="tab-pane fade in active" id="tab1default">
                            <p>Partners in the cities have prioritised specific research questions and data sets that challenge participants can work with. Select your home city tab and get started.</p>
                        </div>
                        <div class="tab-pane fade" id="tab2default">
                            <p>Welcome to Ekurhuleni. The flagship question we want to solve is: [Question]</p>
                            <p>We will be hosting a challenge meetup on [City meetup date], please register <a href="" target="_blank">City meetup</a> before [City meetup RSVP date] to attend.</p>
                            <p>You are welcome to propose concepts related to other critical issues in the city. A full list of the city’s data sets can be accessed via <a href="" target="_blank">City Data Sets</a>.</p>
                            <p>To participate in the challenge process <a href="#enter" class="page-scroll"> ENTER</a> your proposal outlining how you plan to address the City questions before 5 October 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab3default">
                            <p>Welcome to Ethekwini. The flagship question we want to solve is: [Question]</p>
                            <p>We will be hosting a challenge meetup on [City meetup date], please register <a href="" target="_blank">City meetup</a> before [City meetup RSVP date] to attend.</p>
                            <p>You are welcome to propose concepts related to other critical issues in the city. A full list of the city’s data sets can be accessed via <a href="" target="_blank">City Data Sets</a>.</p>
                            <p>To participate in the challenge process <a href="#enter" class="page-scroll"> ENTER</a> your proposal outlining how you plan to address the City questions before 5 October 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab4default">
                            <p>Welcome to Cape Town. The flagship question we want to solve is: [Question]</p>
                            <p>We will be hosting a challenge meetup on [City meetup date], please register <a href="" target="_blank">City meetup</a> before [City meetup RSVP date] to attend.</p>
                            <p>You are welcome to propose concepts related to other critical issues in the city. A full list of the city’s data sets can be accessed via <a href="" target="_blank">City Data Sets</a>.</p>
                            <p>To participate in the challenge process <a href="#enter" class="page-scroll"> ENTER</a> your proposal outlining how you plan to address the City questions before 5 October 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab5default">
                            <p>Welcome to Tshwane. The flagship question we want to solve is: [Question]</p>
                            <p>We will be hosting a challenge meetup on [City meetup date], please register <a href="" target="_blank">City meetup</a> before [City meetup RSVP date] to attend.</p>
                            <p>You are welcome to propose concepts related to other critical issues in the city. A full list of the city’s data sets can be accessed via <a href="" target="_blank">City Data Sets</a>.</p>
                            <p>To participate in the challenge process <a href="#enter" class="page-scroll"> ENTER</a> your proposal outlining how you plan to address the City questions before 5 October 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab6default">
                            <p>Welcome to Sol Plaatje. The flagship question we want to solve is: [Question]</p>
                            <p>We will be hosting a challenge meetup on [City meetup date], please register <a href="" target="_blank">City meetup</a> before [City meetup RSVP date] to attend.</p>
                            <p>You are welcome to propose concepts related to other critical issues in the city. A full list of the city’s data sets can be accessed via <a href="" target="_blank">City Data Sets</a>.</p>
                            <p>To participate in the challenge process <a href="#enter" class="page-scroll"> ENTER</a> your proposal outlining how you plan to address the City questions before 5 October 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab7default">
                            <p>Welcome to Joburg. The flagship question we want to solve is: [Question]</p>
                            <p>We will be hosting a challenge meetup on [City meetup date], please register <a href="" target="_blank">City meetup</a> before [City meetup RSVP date] to attend.</p>
                            <p>You are welcome to propose concepts related to other critical issues in the city. A full list of the city’s data sets can be accessed via <a href="" target="_blank">City Data Sets</a>.</p>
                            <p>To participate in the challenge process <a href="#enter" class="page-scroll"> ENTER</a> your proposal outlining how you plan to address the City questions before 5 October 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab8default">
                            <p>Welcome to Polokwane. The flagship question we want to solve is: [Question]</p>
                            <p>We will be hosting a challenge meetup on [City meetup date], please register <a href="" target="_blank">City meetup</a> before [City meetup RSVP date] to attend.</p>
                            <p>You are welcome to propose concepts related to other critical issues in the city. A full list of the city’s data sets can be accessed via <a href="" target="_blank">City Data Sets</a>.</p>
                            <p>To participate in the challenge process <a href="#enter" class="page-scroll"> ENTER</a> your proposal outlining how you plan to address the City questions before 5 October 2016.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <p>If you’re interested in city open data and considering participating in the Responsive Cities challenge these local and international examples may inspire you:</p>
                    <ul style="font-size: 19px">
                        <li class="col-lg-4 text-">Medicine pricing: <a href="https://mpr.code4sa.org">https://mpr.code4sa.org</a></li>
                        <li class="col-lg-4 text-">Informal settlement map: <a href=" http://ismaps.org.za/desktop.html"> http://ismaps.org.za/desktop.html</a></li>
                        <li class="col-lg-4 text-">Wazimap: <a href="https://wazimap.co.za">https://wazimap.co.za</a></li>
                        <li class="col-lg-4 text-">Mamelodi mappers: <a href="http://mamelodimappers.wixsite.com/alaska-fire-project">http://mamelodimappers.wixsite.com/alaska-fire-project</a></li>
                        <li class="col-lg-4 text-">GoMetro: <a href="http://gometroapp.com/?transit+index">http://gometroapp.com/?transit+index</a></li>
                        <li class="col-lg-4 text-">Phikaya Smart Streets: <a href="http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-pikhaya-smart-streets/">http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-pikhaya-smart-streets/</a></li>
                        <li class="col-lg-4 text-">MoveMaker: <a href="http://movemakerapp.co.uk">http://movemakerapp.co.uk</a></li>
                        <li class="col-lg-4 text-">Bus Start: <a href="http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-bus-start/">http://opendatachallenges.org/get-to-know-the-jobs-open-data-challenge-finalists-bus-start/</a></li>
                    </ul>

                </div>
            </div>
            </div>
        </div>
    </section>

    <!-- Process Section -->
    <section class="success" id="process">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Process</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <p>We have been engaging local partners and City representatives to identify challenge questions for each City and to start sourcing relevant data sets. The next steps are as follows:</p>
                    <ol style="font-size: 19px">
                        <li style="font-style: italic">Launch and applications open | 7 Sept 2016</li>
                        <p style="font-size: 16px">The challenge launched on 7 September 2016 and interested designers, developers, researchers and entrepreneurs can submit proposals until the closing date on 5 October 2016.</p>
                        <li style="font-style: italic">Responsive Cities meetups | Sept-Oct 2016</li>
                        <p style="font-size: 16px">Each participating City will be hosting MEETUPS which will provide an opportunity for potential participants and people with ideas to hear more about the specific research questions for that City, get to know the data sets that are available, and to build teams and develop their ideas with other participants.</p>
                        <li style="font-style: italic">Challenge close | 7 Oct 2016</li>
                        <p style="font-size: 16px">The deadline for submitting your initial concept for the Challenge is 12pm on 7 October.</p>
                        <li style="font-style: italic">Finalist selection | 14 Oct 2016</li>
                        <p style="font-size: 16px">All proposals submitted by this time will be considered. We will then notify individuals and teams whether their idea has been selected to come along to the co-creation workshops later in October.</p>
                        <li style="font-style: italic">Finalist Workshop | 24-28 Oct 2016</li>
                        <p style="font-size: 16px">All finalists will be eligible to join any one of three 2-day finalist workshops to be held at a host city in the following regions:
                        <ul style="font-size: 16px">
                            <li>Eastern Region: Ethekwini | 24-25 Oct 2016</li>
                            <li>Northern Region: (TBC -- Tshwane/ Ekhurhuleni/ Joburg) | 27-28 Oct 2016</li>
                            <li>Southern and Western Region: Cape Town | 29-30 Oct 2016</li>
                        </ul></p>
                        <p style="font-size: 16px">The finalist workshop with the ODI team will be your your chance to develop and test your app, visualisation or story, get feedback, and iterate before pitching to a prestigious panel of judges who will select the winning concepts. At this stage, minimum viable products (MVPs) would be great, but working examples that are able to process real data and need a fair degree of refining are also eligible.</p>
                        <li style="font-style: italic">Winner selection | 4 Nov 2016</li>
                        <p style="font-size: 16px">The panel of judges in each city will review the scoring from pitches at finalist workshops to select 3 winners for each city, as well as an overall winner for the Responsive Cities Challenge.</p>
                        <li style="font-style: italic">Winner announcement and awards | 11 Nov 2016 on...</li>
                        <p style="font-size: 16px">One overall winner and 3 winners per city will be announced and will start the process of accessing the <a href="#awards" target="_blank" style="color: #FF8E20">AWARDS</a>.</p>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="container" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <p>The <a href="http://www.ogp.gov.za/" target="_blank">Open Government Partnership South Africa (OGP SA)</a>, <a href="http://theodi.org/" target="_blank">Open Data Institute (ODI)</a> and a number of local partners are running an open data challenge on the theme of Responsive Cities.</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="panel with-nav-pills panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#tab1partner" data-toggle="pill">Partners</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown">Select <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab2partner" data-toggle="pill">Open Government Partnership South Africa</a></li>
                                    <li><a href="#tab3partner" data-toggle="pill">Open Data Institute and Open Data for Development</a></li>
                                    <li><a href="#tab4partner" data-toggle="pill">Code for South Africa</a></li>
                                    <li><a href="#tab5partner" data-toggle="pill">The Innovation Hub</a></li>
                                    <li><a href="#tab6partner" data-toggle="pill">Open Data Durban</a></li>
                                    <li><a href="#tab7partner" data-toggle="pill">Geekulcha</a></li>
                                    <li><a href="#tab8partner" data-toggle="pill">Centre for Public Service and Administration</a></li>
                                    <li><a href="#tab9partner" data-toggle="pill">Department of Public Service and Administration</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content" style="text-align: justify">
                        <div class="tab-pane fade in active" id="tab1partner">
                            <p>Select from the list of key partners to learn more about them!</p>
                        </div>
                        <div class="tab-pane fade" id="tab2partner">
                            <p><a href="" target="_blank">Open Government Partnership South Africa</a></p>
                            <p>South Africa was one of the founding members of the Open Government Partnership (OGP) when it was formally launched in 20 September 2011, and has made a number of commitments that seek to build on existing government and citizen-led initiatives related to open government in the country. From the South African perspective, OGP commitments must be aligned to the five year national priorities which are, in turn, linked to the targets identified in the NDP and which are derived from the assessment of South Africa’s achievement of the national vision as stipulated in the Constitution. That is the achievement of a non-racial, non sexist, united, democratic South Africa.</p>
                        </div>
                        <div class="tab-pane fade" id="tab3partner">
                            <p><a href="" target="_blank">Open Data Institute and Open Data for Development</a></p>
                            <p>The Open Data Institute (ODI) was co-founded in 2012 by the inventor of the web Sir Tim Berners-Lee and AI expert Sir Nigel Shadbolt to address today’s global challenges using the web of data. We bring together commercial and non-commercial organisations and governments around specific sectors to address today’s global challenges. Driven by needs, and focused on timely challenges, we help people identify and address how the web of data will impact their businesses and their sectors. Together, we will build a strong data infrastructure that delivers open innovation at web-scale.</p>
                            <p>ODI’s involvement in the Responsive Cities Challenge is enabled by Open Data for Development (OD4D), a program which brings together a network of leading implementing partners who have a wealth of experience in developing countries. Together, they are harnessing open data initiatives to enhance transparency and accountability, and to facilitate public service delivery and citizen participation. The goal of the OD4D program is to scale innovations that are working, and to strengthen coordination among other open data initiatives to ensure they benefit people in developing countries.</p>
                        </div>
                        <div class="tab-pane fade" id="tab4partner">
                            <p><a href="" target="_blank">Code for South Africa</a></p>
                            <p>We love data. We live it, eat it, drink it and dream about it. We believe that data (especially government data) should be open. Not just for personal use. Data should be shareable, mash-able, available for commercial use. Our goal is to promote the release of data under an open data licence to make it available to everyone who wants it.</p>
                        </div>
                        <div class="tab-pane fade" id="tab5partner">
                            <p><a href="" target="_blank">The Innovation Hub</a></p>
                            <p>The Innovation Hub is sub-Saharan Africa's first internationally accredited and leading science and technology park. Established by the Gauteng Provincial Government in 2001, The Innovation Hub has created initiatives that support innovation; enterprise development and development for over 14 years. The targeted sectors are in ICT and advanced manufacturing, green economy and biosciences in order to contribute towards the growth of the economy, creation of decent jobs and poverty reduction in Gauteng. Strategically located in Tshwane, South Africa's executive capital and 'smart' province, The Innovation Hub has become a regional centre of innovation and knowledge creation, linked to the fast moving world of global interconnectivity.</p>
                        </div>
                        <div class="tab-pane fade" id="tab6partner">
                            <p><a href="" target="_blank">Open Data Durban</a></p>
                            <p>Open Data Durban is a civic technology lab that implements and advocates for open data, open government, and civic technology through projects, events, workshops, and dataquests (hackathons for everyone, especially non‐techies). We work with civic society, the media, government and interested and engaged citizens to democratise knowledge and enable informed decision making and evidence‐based planning in all sectors of society.</p>
                        </div>
                        <div class="tab-pane fade" id="tab7partner">
                            <p><a href="" target="_blank">Geekulcha</a></p>
                            <p>Geekulcha is where the young, skilled, creative and ambitious tech minds meet to connect with each other, share knowledge, collaborate on projects, network with industry leaders, obtain training to further improve and enhance their skills and to put that newly acquired skill to work.  Established 15 March 2013, our focus is on empowering young geeks through ICT skills development and training while giving them a taste of what awaits them in the big world through industry exposure.</p>
                        </div>
                        <div class="tab-pane fade" id="tab8partner">
                            <p><a href="" target="_blank">Centre for Public Service and Administration</a></p>
                            <p>The Centre for Public Service Innovation (CPSI) was established in 2001 by the Minister for Public Service and Administration. In 2008 it was re-launched as the first Government Component to be established in terms of the Public Service act as amended in 2007. The CPSI is mandated to develop innovative, sustainable and responsive models for improved service delivery. The work of the CPSI is guided by an understanding of innovation in a public sector context as “the creation and implementation of new and service delivery solutions (systems, processes, methods, models, products and services) resulting in significant improvements in outcomes, efficiency, effectiveness and quality”.</p>
                        </div>
                        <div class="tab-pane fade" id="tab9partner">
                            <p><a href="" target="_blank">Department of Public Service and Administration</a></p>
                            <p>The South African Department of Public Service and Administration (DPSA) draws its mandate from Section 195(1) of the Constitution which sets out basic values and principles that the public service should adhere to, and the Public Service Act (PSA) of 1994, as amended. In terms of the PSA, the DPSA is responsible for establishing norms and standards relating to:
                            <ul style="font-size: 16px">
                            <li>The functions of the public service</li>
                            <li>Organisational structures and establishments of departments and other organisational and governance arrangements in the public service</li>
                            <li>Labour relations, conditions of service and other employment practices for employees</li>
                            <li>The Health and wellness of employees; Information management</li>
                            <li>Electronic government in the public service</li>
                            <li>Integrity, ethics, conduct and anti-corruption</li>
                            <li>Transformation, reform, innovation and any other matter to improve the effectiveness and efficiency of the public service and its service delivery to the public</li>
                        </ul></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Meetups Section -->

    <section class="success" id="meetups">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>MEETUPS</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <p>Each participating City will be hosting Meetups which will provide an opportunity for potential participants and people with ideas to hear more about the specific research questions for that City, get to know the data sets that are available, and to build teams and develop their ideas with other participants.</p>
                    <br>
                    <br>
                </div>
            </div>
            <div class="panel with-nav-pills panel-default">
                <div class="panel-heading">
                        <ul class="nav nav-pills">
                            <li class="active"><a href="#tab1meet" data-toggle="pill">Meetups</a></li>
                            <li class="dropdown">
                                <a href="#" data-toggle="dropdown" style="color: #FF8E20">Select <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#tab2meet" data-toggle="pill">Ekurhuleni Meetup</a></li>
                                    <li><a href="#tab3meet" data-toggle="pill">Ethekwini Meetup</a></li>
                                    <li><a href="#tab4meet" data-toggle="pill">Cape Town Meetup</a></li>
                                    <li><a href="#tab5meet" data-toggle="pill">Tshwane Meetup</a></li>
                                    <li><a href="#tab6meet" data-toggle="pill">Sol Plaatje Meetup</a></li>
                                    <li><a href="#tab7meet" data-toggle="pill">Joburg Meetup</a></li>
                                    <li><a href="#tab8meet" data-toggle="pill">Polokwane Meetup</a></li>
                                </ul>
                            </li>
                        </ul>
                </div>
                <div class="panel-body">
                    <div class="tab-content" style="text-align: justify; color: #555555">
                        <div class="tab-pane fade in active" id="tab1meet">
                            <p>Find out Meetup details for your city by selecting it!</p>
                        </div>
                        <div class="tab-pane fade" id="tab2meet">
                            <p><a href="" target="_blank" style="color: #FF8E20">Ekurhuleni Meetup</a></p>
                            <p>The Innovation Hub and Ekurhuleni Metropolitan Municipality will be hosting the [Ekurhuleni Meetup] taking place at 10am-3pm on 21 Sept 2016, [venue]. RSVP to attend before 16 Sept 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab3meet">
                            <p><a href="" target="_blank" style="color: #FF8E20">Ethekwini Meetup</a></p>
                            <p>Open Data Durban and the City of Ethekwini will be hosting the [Ethekwini Meetup] taking place at 10am-3pm on 21 Sept 2016, [venue]. RSVP to attend before 16 Sept 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab4meet">
                            <p><a href="" target="_blank" style="color: #FF8E20">Cape Town Meetup</a></p>
                            <p>Code4SA and the City of Cape Town will be hosting the [Cape Town Meetup] taking place at 10am-3pm on 21 Sept 2016, [venue]. RSVP to attend before 16 Sept 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab5meet">
                            <p><a href="" target="_blank" style="color: #FF8E20">Tshwane Meetup</a></p>
                            <p>The Innovation Hub and the City of Tshwane will be hosting the [Tshwane Meetup] taking place at 10am-3pm on 21 Sept 2016, [venue]. RSVP to attend before 16 Sept 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab6meet">
                            <p><a href="" target="_blank" style="color: #FF8E20">Sol Plaatje Meetup</a></p>
                            <p>Geekulcha and the Sol Plaatje Municipality will be hosting the [Sol Plaatje Meetup] taking place at 10am-3pm on 21 Sept 2016, [venue]. RSVP to attend before 16 Sept 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab7meet">
                            <p><a href="" target="_blank" style="color: #FF8E20">Joburg Meetup</a></p>
                            <p>The Innovation Hub and the City of Johannesburg will be hosting the [Joburg Meetup] taking place at 10am-3pm on 21 Sept 2016, [venue]. RSVP to attend before 16 Sept 2016.</p>
                        </div>
                        <div class="tab-pane fade" id="tab8meet">
                            <p><a href="" target="_blank" style="color: #FF8E20">Polokwane Meetup</a></p>
                            <p>Limpopo Connexion and the Polokwane Municipality will be hosting the [Polokwane Meetup] taking place at 10am-3pm on 21 Sept 2016, [venue]. RSVP to attend before 16 Sept 2016.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Judging Section -->

    <section class="container" id="judging">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>JUDGING CRITERIA</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <ol style="font-size: 19px">
                        <li style="font-style: italic">Innovation</li>
                        <p style="font-size: 16px">Projects will be judged on whether they offer something novel in terms of application of data to a new challenge or unmet need within the host city. We are looking for completely new products, technologies, or services or improvements to existing solutions, combining or implementing these in new ways.</p>
                        <li style="font-style: italic">Likely societal (social, environmental or economic) impact</li>
                        <p style="font-size: 16px">Projects will be judged on the extent to which they can demonstrate how they would have a concrete social impact in relation to the challenge problem. Projects will need to:
                         <ul style="font-size: 16px">
                            <li>Be able to give an account of the likely impact on the specific city questions (or another need/ opportunity identified in the city); and</li>
                            <li>Ideally gather data openly to demonstrate the analysis, story or application making an impact</li>
                        </ul></p>
                        <li style="font-style: italic">Extent of use of open data and incorporation into the project</li>
                        <p style="font-size: 16px">Projects will be judged on their use of open data, in particular:
                        <ul style="font-size: 16px">
                            <li>the extent to which it is incorporated into their product / service; and</li>
                            <li>how effectively it is used in the service and whether this is an innovative use of open data</li>
                            <li>the extent to which new open data sources are generated as a (by)product of their project</li>
                        </ul></p>
                        <p style="font-size: 16px">You must also include at least one source of city, provincial or national government open data in your submission.</p>
                        <li style="font-style: italic">Potential market for, and sustainability of, an ongoing business</li>
                        <p style="font-size: 16px">Projects will be judged on how well they have tailored their product or service to a potential market and how well they have understood the opportunities in this market (whether consumer market or government as the target customer).</p>
                        <p style="font-size: 16px">The extent to which teams can show the potential and/or specific opportunity for growth and the development of a sustainable business model will also be considered. Whether the solutions are easy to understand and affordable for consumers will also be taken into consideration.</p>
                    </ol>
                </div>
            </div>
        </div>
    </section>

    <!-- Awards Section -->

    <section class="success" id="awards">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About SCODA</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <p>The South African Cities Open Data Almanac or SCODA is a city-centric data portal that aims to support the planning, management, monitoring, and reporting needs of cities.
                       With the fast-changing and increasingly complex dynamics of contemporary South Africa where the majority of people now live in cities, monitoring how cities are planned and managed is important. Indicators are critical to effective planning and management in urban contexts, organising information sets into simpler, and easier to understand and compare ‘measures’ of what is happening. Good urban indicator sets allow for a longitudinal perspective (i.e. change over time) and comparisons between cities locally and internationally, enabling cities to see whether or not they are adequately achieving their objectives.
                       SCODA contains data and indicators organised around key thematic areas:</p>
                    <ul style="font-size: 19px">
                        <li>Productive cities</li>
                        <li>Inclusive cities</li>
                        <li>Sustainable Cities</li>
                        <li>Well-governed cities</li>
                        <li>City demographics</li>
                    </ul>
                    <p>Each theme has a set of core and secondary indicators.</p>
                    <p>SCODA is run by the <a href='http://www.sacities.net/' target="_blank" style="color: #FF8E20">South African Cities Network (SACN)</a>, an established network of South African cities and partners that encourages the exchange of information, experience and best practices on urban development and city management. The SACN has published State of South African Cities Reports (SoCR) since 2004, and these reports present a 5-year perspective on the performance and conditions of South Africa’s largest cities, with a focus on the SACN member cities. The SoCR process has always included a data almanac section, and long-envisaged having an online data portal that allows access to up-to-date data and indicators that are important to cities.</p>
                    <p>The SCODA site now provides a framework to enable an ongoing process of making city data accessible. Through a partnership with the <a href="http://www.dataforcities.org/" target="_blank" style="color: #FF8E20">World Council for City Data</a>, SCODA also seeks to align to the <a href="http://www.iso.org/iso/catalogue_detail?csnumber=62436" target="_blank" style="color: #FF8E20">ISO 37120 Standard on City Indicators</a> so that South African cities can learn from global practice, and also benchmark themselves against international peers.</p>
                    <p>Further information about the development of SCODA is available at <a href="http://www.sacities.net/" target="_blank" style="color: #FF8E20">www.sacities.net</a>.</p>
                    <p><b style="font-size: 21px">Photo Acknowledgements</b><br>Photos used on this site are from the 2015 SACN Instagram competition and we acknowledge the photographer, by the indicator and their instagram handle:
People and Households: <span style="color: #FF8E20">@amzbooysen</span>; Cities over time: <span style="color: #FF8E20">@moography</span>; Population pyramids: <span style="color: #FF8E20">@greg_alexander</span>; Economic growth: <span style="color: #FF8E20">@gavman18</span>; Unemployment: <span style="color: #FF8E20">@justjozi</span>; City finance: <span style="color: #FF8E20">@raeharrison1984</span>; Non-revenue water: <span style="color: #FF8E20">@pandanicoleium</span>; Access to electricity: <span style="color: #FF8E20">@ishotimagesza</span>; Access to sanitation: <span style="color: #FF8E20">@kojobaffoe</span>; Education: <span style="color: #FF8E20">@dane_forman</span>; Urban Crime index: <span style="color: #FF8E20">@iamsoweto</span>; Sources of energy 2011: <span style="color: #FF8E20">@drae_savvides</span>.
</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Enter Section -->

    <section class="container" id="enter">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Other Important Links</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <ul style="font-size: 19px">
                        <li>South African Cities Network: <a href="http://sacities.net" target="_blank">www.sacities.net</a></li>
                        <li>2016 State of Cities Report:  <a href="http://sacities.net/socr" target="_blank">www.sacities.net/socr</a></li>
                        <li>Spatial and Temporal Evidence for Planning in South Africa (stepSA):  <a href="http://stepsa.org" target="_blank">http://stepsa.org</a></li>
                        <li>SALGA Municipal Barometer: <a href="http://www.municipalbarometer.co.za/" target="_blank">http://www.municipalbarometer.co.za/</a></li>
                        <li>Statistics South Africa: <a href="http://www.statssa.gov.za/" target="_blank">http://www.statssa.gov.za/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Rules Section -->

    <section class="success" id="rules">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About SCODA</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <p>The South African Cities Open Data Almanac or SCODA is a city-centric data portal that aims to support the planning, management, monitoring, and reporting needs of cities.
                       With the fast-changing and increasingly complex dynamics of contemporary South Africa where the majority of people now live in cities, monitoring how cities are planned and managed is important. Indicators are critical to effective planning and management in urban contexts, organising information sets into simpler, and easier to understand and compare ‘measures’ of what is happening. Good urban indicator sets allow for a longitudinal perspective (i.e. change over time) and comparisons between cities locally and internationally, enabling cities to see whether or not they are adequately achieving their objectives.
                       SCODA contains data and indicators organised around key thematic areas:</p>
                    <ul style="font-size: 19px">
                        <li>Productive cities</li>
                        <li>Inclusive cities</li>
                        <li>Sustainable Cities</li>
                        <li>Well-governed cities</li>
                        <li>City demographics</li>
                    </ul>
                    <p>Each theme has a set of core and secondary indicators.</p>
                    <p>SCODA is run by the <a href='http://www.sacities.net/' target="_blank" style="color: #FF8E20">South African Cities Network (SACN)</a>, an established network of South African cities and partners that encourages the exchange of information, experience and best practices on urban development and city management. The SACN has published State of South African Cities Reports (SoCR) since 2004, and these reports present a 5-year perspective on the performance and conditions of South Africa’s largest cities, with a focus on the SACN member cities. The SoCR process has always included a data almanac section, and long-envisaged having an online data portal that allows access to up-to-date data and indicators that are important to cities.</p>
                    <p>The SCODA site now provides a framework to enable an ongoing process of making city data accessible. Through a partnership with the <a href="http://www.dataforcities.org/" target="_blank" style="color: #FF8E20">World Council for City Data</a>, SCODA also seeks to align to the <a href="http://www.iso.org/iso/catalogue_detail?csnumber=62436" target="_blank" style="color: #FF8E20">ISO 37120 Standard on City Indicators</a> so that South African cities can learn from global practice, and also benchmark themselves against international peers.</p>
                    <p>Further information about the development of SCODA is available at <a href="http://www.sacities.net/" target="_blank" style="color: #FF8E20">www.sacities.net</a>.</p>
                    <p><b style="font-size: 21px">Photo Acknowledgements</b><br>Photos used on this site are from the 2015 SACN Instagram competition and we acknowledge the photographer, by the indicator and their instagram handle:
People and Households: <span style="color: #FF8E20">@amzbooysen</span>; Cities over time: <span style="color: #FF8E20">@moography</span>; Population pyramids: <span style="color: #FF8E20">@greg_alexander</span>; Economic growth: <span style="color: #FF8E20">@gavman18</span>; Unemployment: <span style="color: #FF8E20">@justjozi</span>; City finance: <span style="color: #FF8E20">@raeharrison1984</span>; Non-revenue water: <span style="color: #FF8E20">@pandanicoleium</span>; Access to electricity: <span style="color: #FF8E20">@ishotimagesza</span>; Access to sanitation: <span style="color: #FF8E20">@kojobaffoe</span>; Education: <span style="color: #FF8E20">@dane_forman</span>; Urban Crime index: <span style="color: #FF8E20">@iamsoweto</span>; Sources of energy 2011: <span style="color: #FF8E20">@drae_savvides</span>.
</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Tools Section -->

    <section class="container" id="tools">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Other Important Links</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 text-" style="text-align: justify">
                    <ul style="font-size: 19px">
                        <li>South African Cities Network: <a href="http://sacities.net" target="_blank">www.sacities.net</a></li>
                        <li>2016 State of Cities Report:  <a href="http://sacities.net/socr" target="_blank">www.sacities.net/socr</a></li>
                        <li>Spatial and Temporal Evidence for Planning in South Africa (stepSA):  <a href="http://stepsa.org" target="_blank">http://stepsa.org</a></li>
                        <li>SALGA Municipal Barometer: <a href="http://www.municipalbarometer.co.za/" target="_blank">http://www.municipalbarometer.co.za/</a></li>
                        <li>Statistics South Africa: <a href="http://www.statssa.gov.za/" target="_blank">http://www.statssa.gov.za/</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <h3>Queries about SCODA? Email us at <a href="mailto:scoda@sacities.net" target="_blank">scoda@sacities.net</a></h3>
                </div>
                <div class="row">
                    <div class="footer-col col-md-4">
                        <h3>Address</h3>
                        <p>Joburg Metro Building<br>16th Floor<br>158 Civic Boulevard<br>Braamfontein, 2017</p>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="http://www.cloud.sacn.co.za/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-cloud"></i></a>
                            </li>
                            <li>
                                <a href="https://www.facebook.com/SACitiesNetwork" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/SACitiesNetwork" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="http://www.linkedin.com/company/3168975?trk=NUS_CMPY_TWIT" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="https://instagram.com/sacitiesnetwork/" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.youtube.com/channel/UC18ZyP241BXS-OzXgkewYGw#" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-youtube"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>About SACN</h3>
                        <p>Web: <a href="http://sacities.net" target="_blank">www.sacities.net</a><br>Phone: 011 407 6471<br>Fax: 011 403 5230<br>Email: <a href="mailto:scoda@sacities.net" target="_blank">scoda@sacities.net</a></p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12" style="color: #fff">
                        Built by <a href="https://opendata.durban" target="_blank">Open Data Durban</a>
                        <br>
                        Copyright &copy; South African Cities Network 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visible-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- jQuery -->
    <script src="/static/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/static/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="/static/js/classie.js"></script>
    <script src="/static/js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="/static/js/jqBootstrapValidation.js"></script>
    <script src="/static/js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="/static/js/freelancer.js"></script>

</body>

</html>
